<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EmailChecker.Properties.Settings>
            <setting name="inboxName_DE" serializeAs="String">
                <value>Posteingang</value>
            </setting>
            <setting name="inboxName_EN" serializeAs="String">
                <value>Inbox</value>
            </setting>
            <setting name="ContentModerator_SubscriptionKey" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="OcpApimSubscriptionKey" serializeAs="String">
                <value>Ocp-Apim-Subscription-Key</value>
            </setting>
            <setting name="CognitiveServicesUri_ContentModerator_DetectLanguage"
                serializeAs="String">
                <value>https://westus.api.cognitive.microsoft.com/contentmoderator/moderate/v1.0/ProcessText/DetectLanguage?</value>
            </setting>
            <setting name="CognitiveServicesUri_ContentModerator_Moderate"
                serializeAs="String">
                <value>https://westus.api.cognitive.microsoft.com/contentmoderator/moderate/v1.0/ProcessText/Screen/?</value>
            </setting>
            <setting name="UserModeratorClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="ContentModerator_AnalyzeUrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContentModerator_AutoCorrect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContenetModerator_DetectPII" serializeAs="String">
                <value>True</value>
            </setting>
        </EmailChecker.Properties.Settings>
    </userSettings>
</configuration>