<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>

  <appSettings>
    <!--Content-Moderator Subscriptions Key on https://contentmoderator.cognitive.microsoft.com/dotnetproki/Settings/Connectors -->
    <add key="subscriptionkey" value="?" />

    <!-- "Credentials-Client-ID" on https://contentmoderator.cognitive.microsoft.com/dotnetproki/Settings/Credentials -->
    <add key="Review.ClientId" value="?" />

    <!-- "Credentials-Keys" (Create Credentials) on https://contentmoderator.cognitive.microsoft.com/dotnetproki/Settings/Credentials -->
    <add key="Review.ClientSecret" value="?" />

    <add key="Review.TeamName" value="?" />
  </appSettings>


  <connectionStrings>
    <add name="MyExcelConn" connectionString="Dsn=Excel Files;dbq=|DataDirectory|\\data.xlsx;defaultdir=C:\\; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>

  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="ImageEvalute" connectionString="MyExcelConn" dataTableName="ImageEvaluate$" dataAccessMethod="Sequential" />
      <add name="DetectFaces" connectionString="MyExcelConn" dataTableName="DetectFaces$" dataAccessMethod="Sequential" />
      <add name="OCRImage" connectionString="MyExcelConn" dataTableName="OCRImage$" dataAccessMethod="Sequential" />
      <add name="ImageMatch" connectionString="MyExcelConn" dataTableName="ImageMatch$" dataAccessMethod="Sequential" />
      <add name="TermMatch" connectionString="MyExcelConn" dataTableName="TermMatch$" dataAccessMethod="Sequential" />
      <add name="IdentifyLanguage" connectionString="MyExcelConn" dataTableName="IdentifyLanguage$" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>